<!-- {{ 'style.featured-products.css' | asset_url | stylesheet_tag }}

<div class="products__wrapper">
    <div class="product__item" id="shield">
            <img class="product__image" src="{{ image_link }}" alt="{{ image_alt }}">
            <div class="product__content">
                <h3>{{ title }}</h3>
            <h5 class="product__money" >{{ price }}</h5>
            <a class="product__link" href="{{ link }}">{{ text }}</a>
            </div>
        </div>
</div>

<style>
    .product__item{
        background-image: url('../assets/svg.product-tile.svg');
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 256px;
        height: 100%;
    }
    .product__image{
        position: relative;
        overflow: hidden;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
        margin-top: 10%;
        width: 100%;
        height: 100%;
    }
    .product__content{
        position: absolute;
        bottom: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
</style> -->