{{ 'style.banner-section.css' | asset_url | stylesheet_tag }}

<div class="banner">
    <div class="banner__container">
        <div class="banner__background">
            <span class="first"><img src="{{ 'first.svg' | asset_url }}" alt=""></span>
            <span class="second"><img src="{{ 'second.svg' | asset_url }}" alt=""></span>
            <span class="third"><img src="{{ 'third.svg' | asset_url }}" alt=""></span>
            <span class="fourth"><img src="{{ 'fourth.svg' | asset_url }}" alt=""></span>
        <div class="banner__wrapper">
            <div class="banner__image--wrapper">
                <img class="banner__image" src="{{ section.settings.banner_image.src | img_url: 'medium' }}" alt="{{ section.settings.banner_image.alt | escape }}">
            </div>
            <div class="banner__content">
                <h2>{{ section.settings.banner_title }}</h2>
                <p>{{ section.settings.banner_description }}</p>
                <div>
                    {% render 'button' title: section.settings.banner_url_text link: section.settings.banner_url %}
                </div>
            </div>
        </div>
    </div>
    </div>
</div>

<style>
    .banner__background{
        border: 1px solid black;
        margin: 60px;
        position: relative;
    }
    .first{
        position: absolute;
        top: 0;
        left: 0;
    }
    .second{
        position: absolute;
        top: 0;
        right: 0;
    }
    .third{
        position: absolute;
        bottom: -4px;
        left: 0;
    }
    .fourth{
        position: absolute;
        bottom: -3px;
        right: -1px;
    }
</style>

{% schema %}
    {
        "name": "Banner",
        "settings": [
            {
                "type": "image_picker",
                "id": "banner_image",
                "label": "Banner Image Picker"
            },
            {
                "type": "text",
                "id": "banner_title",
                "default": "Lorem ipsum dolor set amet",
                "label": "Banner Title Lable"
            },
            {
                "type": "text",
                "id": "banner_description",
                "default": "Banner Description lorem ipsum dolor set ampe",
                "label": "Banner Description Label"
            },
            {
                "type": "url",
                "id": "banner_url",
                "default": "/",
                "label": "Banner Url"
            },
            {
                "type": "text",
                "id": "banner_url_text",
                "default": "Banner Button",
                "label": "Banner Button Label"
            }
        ]
    }
{% endschema %}